
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>COMMENT</th>
    <th>CREATED_DATE</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <p>hello</p>
  </thead>
  <tbody>
<!--  th:object-->
<!--  フォームやテーブルなどの親要素にバインドするオブジェクトを設定する。-->
<!--  そうすることで子要素はバインドしたオブジェクトのプロパティに*{name}の-->
<!--  ような感じでアクセスすることができる。-->
<!--  これを使用しない場合は${content.name}のようにすることでアクセスできる。-->
<!--  今回はコントローラ側で用意したcontentオブジェクトを設定している。-->
<!--  th:each-->
<!--  コントローラ側でイテラブルなオブジェクトを渡した際に使用できる。-->
<!--  これを記述することでイテラブルなオブジェクトを繰り返し処理させることができる。-->
<!--th:text-->
<!--オブジェクトやプロパティなどをhtml要素のテキストとして表示させるもの。-->

  <tr th:each="content : ${contents}" th:object="${content}">
    <td th:text="*{id}"></td>
    <td th:text="*{name}"></td>
    <td th:text="*{comment}"></td>
    <td th:text="*{createdDate}"></td>
<!--    th:href-->
<!--    参照先をリンクURL式で指定する。-->
<!--    @{/edit/{id}(id=*{id})}の意味は/edit/1のように実際には指定される。-->
<!--    1の部分はcontentオブジェクトのidプロパティの値が入る。-->
    <td>
      <a th:href="@{/edit/{id}(id=*{id})}">
        edit
      </a>
    </td>
    <td>
      <a th:href="@{/delete/{id}(id=*{id})}">
        delete
      </a>
    </td>
  </tr>
  </tbody>
</table>
